@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "mytheme";
  default: true;
  /* set as default */
  prefersdark: true;
  /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light;
  /* color of browser-provided UI */

  --color-base-100: #1f2937;
  --color-base-200: oklch(23.26% 0.014 253.1);
  --color-base-300: oklch(21.15% 0.012 254.09);
  --color-base-content: lab(97.3754% -1.86676 -10.6283);


  --color-primary: '#22c55e';
  --color-secondary: '#06b6d4';
  --color-accent: '#00cdb7';
  --color-neutral: '#6b7280';
  --color-base-100: '#1f2937';
  --color-info: '#0085ff';
  --color-success: '#16a34a';
  --color-warning: '#ec5e00';
  --color-error: '#be0024';
}

:root {
  --primary: '#22c55e';
  --secondary: '#06b6d4';
  --accent: '#00cdb7';
  --neutral: '#6b7280';
  --base-100: '#1f2937';
  --info: '#0085ff';
  --success: '#16a34a';
  --warning: '#ec5e00';
  --error: '#be0024';
}
